section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12rem 2rem 20rem;
}

article {
  max-width: 50rem;
}

article div {
  display: flex;
  align-items: center;
  justify-content: center;
}

article p {
  margin: 0;
}

.logo {
  height: 20rem;
  padding: 1rem;
}

h1 {
  margin: 0 0 2rem;
}

header,
footer {
  position: absolute;
  left: 0;
  width: 100%;
  border: 0.5rem dashed white;
  box-sizing: border-box;
}

header {
  top: 0;
  border-radius: 0 0 2rem 2rem;
  border-top: 0;
  height: 8rem;
}

/* has the responsibility to transition smoothly diff section bg colours */
footer {
  border-radius: 2rem 2rem 0 0;
  bottom: 0;
  border-bottom: 0;
  height: 16rem;
}
