section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12rem 2rem 20rem;
}

article {
  max-width: 50rem;
}

article div {
  display: flex;
  align-items: center;
  justify-content: center;
}

article p {
  margin: 0;
}

.logo {
  height: 20rem;
  padding: 1rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

header,
footer {
  position: absolute;
  left: 0;
  width: 100%;
  border: 0.5rem dashed white;
  box-sizing: border-box;
}

header {
  top: 0;
  border-radius: 0 0 2rem 2rem;
  border-top: 0;
  height: 8rem;
}

/* has the responsibility to transition smoothly diff section bg colours */
footer {
  border-radius: 2rem 2rem 0 0;
  bottom: 0;
  border-bottom: 0;
  height: 16rem;
}

/*
 * animation requirements:
 * need 3 speeds/order; 1st, 2nd, 3rd
 * need 4 directions: top, right, bottom, left
*/
.to-animate {
  opacity: 0;
}

.animate-slide-in-top {
  animation: slide-in-top 0.3s ease-out forwards paused;
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out forwards paused;
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards paused;
}

.animate-slide-in-bottom {
  animation: slide-in-bottom 0.3s ease-out forwards paused;
}

.animate-order-2 {
  animation-delay: 0.25s;
}

.animate-order-3 {
  animation-delay: 0.5s;
}

.animate {
  animation-play-state: running;
}

@keyframes slide-in-top {
  0% {
    opacity: 0;
    margin-top: -8rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    margin-left: -8rem;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    margin-right: -8rem;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    margin-bottom: -8rem;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
